{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Elérhető tárgyak</h1>
</div>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Név</th>
            <th>Státusz</th>
            <th>Terem</th>
            <th>Leírás</th>
        </tr>   
    </thead>
    <tbody>
        {{#each errors}}
        <tr>
            <td>{{subjectName}}</td>
            <td><span class="label label-{{statusClass}}">{{statusText}}</span></td>
            <td>{{room}}</td>
            <td>{{description}}</td>
            <td><button class="btn btn-xs btn-danger">X</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p><a href="/subjects/new" class="btn btn-default">Új tárgy felvitele</a></p>