<div class="page-header">
    <h1>Tárgy módosítása</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group
            {{#if validationErrors.subjectName}}
                has-error
            {{/if}}
        ">
            <label for="subjectName" class="col-lg-2 control-label">Tárgy neve</label>
            <div class="col-lg-5">
                <input class="form-control" id="subjectName" name="subjectName" placeholder="{{subject.subjectName}}" type="text" value="{{subject.subjectName}}" />
                {{#if validationErrors.subjectName}}
                    <span class="help-block">{{validationErrors.subjectName.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.description}}
                has-error
            {{/if}}
        ">
            <label for="leiras" class="col-lg-2 control-label">Leírás</label>
            <div class="col-lg-5">
                <input class="form-control" id="description" name="description" placeholder="{{subject.description}}" value="{{subject.description}}"  />
                {{#if validationErrors.description}}
                    <span class="help-block">{{validationErrors.description.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.room}}
                has-error
            {{/if}}
        ">
            <label for="room" class="col-lg-2 control-label">Terem</label>
            <div class="col-lg-5">
                <input class="form-control" id="room" name="room" placeholder="{{subject.room}}" value="{{subject.room}}"/>
                {{#if validationErrors.room}}
                    <span class="help-block">{{validationErrors.room.msg}}</span>
                {{/if}}
            </div>
        </div>
        
        <div class="form-group
            {{#if validationErrors.room}}
                has-error
            {{/if}}
        ">
            <label for="status" class="col-lg-2 control-label">Terem</label>
            <div class="col-lg-5">
                <select class="form-control" id="status" name="status">
                    <option name="available" value="true">Aktív</option>
                    <option name="inavailable" value="false">Passzív</option>
                </select>
                {{#if validationErrors.status}}
                    <span class="help-block">{{validationErrors.status.msg}}</span>
                {{/if}}
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>        